@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;

    --text-display-lg: 4rem;
    --text-display-md: 3.5rem;
    --text-display-sm: 3rem;

    --text-headline-lg: 2.5rem;
    --text-headline-md: 2.25rem;
    --text-headline-sm: 2rem;

    --text-title-lg: 1.75rem;
    --text-title-md: 1.5rem;
    --text-title-sm: 1.25rem;

    --text-body-lg: 1.125rem;
    --text-body-md: 1rem;
    --text-body-sm: 0.875rem;

    --text-label-lg: 1rem;
    --text-label-md: 0.875rem;
    --text-label-sm: 0.75rem;

    --leading-display-lg: 4.75rem;
    --leading-display-md: 4.25rem;
    --leading-display-sm: 3.75rem;

    --leading-headline-lg: 3rem;
    --leading-headline-md: 2.75rem;
    --leading-headline-sm: 2.5rem;

    --leading-title-lg: 2.25rem;
    --leading-title-md: 2rem;
    --leading-title-sm: 1.75rem;

    --leading-body-lg: 1.75rem;
    --leading-body-md: 1.5rem;
    --leading-body-sm: 1.25rem;

    --leading-label-lg: 1.5rem;
    --leading-label-md: 1.25rem;
    --leading-label-sm: 1.125rem;

    --height-display-lg: 4.75rem;
    --height-display-md: 4.25rem;
    --height-display-sm: 3.75rem;

    --height-headline-lg: 3rem;
    --height-headline-md: 2.75rem;
    --height-headline-sm: 2.5rem;

    --height-title-lg: 2.25rem;
    --height-title-md: 2rem;
    --height-title-sm: 1.75rem;

    --height-body-lg: 1.75rem;
    --height-body-md: 1.5rem;
    --height-body-sm: 1.25rem;

    --height-label-lg: 1.5rem;
    --height-label-md: 1.25rem;
    --height-label-sm: 1.125rem;
  }

  .dark:root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
